{% extends '::base.html.twig' %}

{% block title %}{% block blog_title %}{% endblock %} - Blog{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-9">
			{% for type in ['info', 'success', 'error'] %}
				{% for message in app.session.flashbag.get(type) %}
					<div class="alert alert-{{ type }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}

			{% block blog_body %}
			{% endblock %}
		</div>

		<div class="col-3">
			{# render(controller("FTC56BlogBundle:Blog:menu", {'number': 3})) #}
		</div>
	</div>
{% endblock %}