{% extends '::base.html.twig' %}

{% block title %}{% block blog_title %}{% endblock %} - Blog{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-9">
			{% for type in ['info', 'success', 'error'] %}
				{% for message in app.session.flashbag.get(type) %}
					<div class="alert alert-{{ type }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}

			{% block blog_body %}
			{% endblock %}
		</div>

		<div class="col-3 text-center">
			<a href="{{ path('blog_add') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus">Ajouter un article</span></a>
		</div>
	</div>
{% endblock %}