{% extends '::layout.html.twig' %}

{% block title %} - Blog{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-10">
			{% for type in ['info', 'success', 'error'] %}
				{% for message in app.session.flashbag.get(type) %}
					<div class="alert alert-{{ type }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}

			{% block blog_body %}
			{% endblock %}
		</div>

		<div class="col-md-2">
			{% if is_granted('ROLE_AUTHOR') %}
				<a href="{{ path('blog_add') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter un article</a>
			{% endif %}
		</div>
	</div>
{% endblock %}