{% block body %}
	{% if app.user == null %}
		<form class="navbar-form pull-right" action="{{ path('login_check') }}" method="post">
			<input type="text" class="form-control" style="width: 150px;" placeholder="Pseudo">
			<input type="password" class="form-control" style="width: 150px;" placeholder="Mot de passe">
			<button type="submit" class="btn btn-default">Connexion</button>
		</form>
	{% else %}
		<div class="pull-right">
			<a href="{{ path('logout') }}" class="btn btn-default navbar-btn">Déconnexion</a>
		</div>
	{% endif %}
{% endblock %}